:root {
    --primary-color: #1D591D;
    --second-color: #4E8C4B;
    --destaca-color: #FED980;
    --color-neutral: #F5F5F5;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 30px;
}

body {
    font-family: 'Montserrat', 'Arial', sans-serif;
}

/* NavBar */
.container {
    background-color: var(--primary-color);
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: space-between;
}

.container img {
    margin-left: 32px;
    margin-top: 12px;
}

.navbar {
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--color-neutral);
    font-size: 30px;
    font-weight: bold;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navbar ul li a:hover {
    background-color: var(--second-color);
    color: var(--destaca-color);
}

/* Header */
.container-header {
    background-image: url('/imgs/banner.jpg');
    background-repeat: no-repeat;
    background-size: 1940px;
    background-position: -8px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.container-header h1 {
    margin: 132px 0px 0px 87px;
    color: var(--color-neutral);
}

.container-header p {
    width: 530px;
    margin: 32px 0px 0px 87px;
    color: var(--color-neutral);
    font-size: 20px;
}

.container-header button {
    width: 210px;
    height: 80px;
    margin: 32px 0px 0px 87px;
    background-color: var(--second-color);
    color: var(--color-neutral);
    font-size: 28px;
    font-weight: medium;
    border-radius: 10px;
    border-style: none;
}

.container-header button:hover {
    background-color: var(--primary-color);
    color: var(--destaca-color);
}

/* Seção Sobre Nós */
.sobre-nos {
    background-color: var(--primary-color);
    padding: 50px 10%;
    color: var(--color-neutral);
}

.sobre-nos h1 {
    color: var(--destaca-color);
    margin-bottom: 40px;
    font-size: 36px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.conteudo::before {
    background-color: var(--second-color);
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    transform: translateX(-50%);
}

.coluna {
    flex: 1;
    text-align: center;
    padding: 0 20px;
}

.coluna h2 {
    color: var(--destaca-color);
    text-decoration: underline;
    margin-bottom: 23px;
}

.coluna p {
    color: var(--color-neutral);
    line-height: 1.5;
    text-align: justify;
}

/* Seção - Galeria */
.carousel-container {
    background-color: var(--color-neutral);
    padding: 60px 20px;
    text-align: center;
}

.carousel-container h2 {
    color: var(--primary-color);
    margin-bottom: 40px;
    font-size: 24px;
}

.carousel-wrapper {
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
}

.carousel-wrapper::-webkit-scrollbar {
    display: none;
}

.carousel-images {
    display: flex;
    gap: 20px;
    padding: 0 15px;
    width: max-content;
}

.card {
    flex: 0 0 280px;
    height: 280px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    overflow: hidden;
    scroll-snap-align: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.dot {
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: var(--destaca-color);
}