:root {
    --primary-color: #1D591D;
    --second-color: #4E8C4B;
    --destaca-color: #FED980;
    --color-neutral: #F5F5F5;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    line-height: 30px;
}

body{
    font-family: 'Montserrat', 'Arial', sans-serif;
}

.container{
    background-color: var(--primary-color);
    width: 100%;
    height: 172px;
    display: flex;
    justify-content: space-between;
}

.container img{
    margin-left: 32px;
    margin-top: 12px;
}

.navbar{
    margin-right: 32px;
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: var(--color-neutral);
    font-size: 30px;
    font-weight: bold;
    padding: 10px 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navbar ul li a:hover{
    background-color: var(--second-color);
    color: var(--destaca-color);
}

.container-header{
    background-image: url(/imgs/banner.jpg);
    background-repeat: no-repeat;
    background-size: 1940px;
    background-position: -8px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.container-header h1{
    margin: 132px 0px 0px 87px;
    color: var(--color-neutral);
}

.container-header p{
    width: 530px;
    margin: 32px 0px 0px 87px;
    color: var(--color-neutral);
    font-size: 20px;
}

.container-header button{
    width: 210px;
    height: 80px;
    margin: 32px 0px 0px 87px;
    background-color: var(--second-color);
    color: var(--color-neutral);
    font-size: 28px;
    font-weight: medium;
    border-radius: 10px;
    border-style: none;
}

.container-header button:hover{
    background-color: var(--primary-color);
    color: var(--destaca-color);
}